In [1]:
import os
import pandas as pd

csv_dir = "D:/LAA_STROKE/data/vinci"

In [6]:
# old version
# original demographics, changes were made to data, DO NOT USE THIS
fn = os.path.join(csv_dir,'Demographic+Data.csv')
df = pd.read_csv(fn,delimiter='\t')
columns = list(df)
display(df.head())
display(df.shape)
display(list(df))

,PatientSID,PatientName,Sta3n,PatientLastName,PatientFirstName,TestPatientFlag,CDWPossibleTestPatientFlag,VeteranFlag,PatientType,PatientICN,...,DeceasedFlag,Gender,Religion,MaritalStatus,MeansTestStatus,PeriodOfService,Race,Ethnicity,FederalAgencySID,FilipinoVeteranCode
0,10398206,"MORLAN,CLIFTON DEWAYNE",583,MORLAN,CLIFTON DEWAYNE,NaN,N,Y,SC VETERAN,1010478245,...,N,M,OTHER,MARRIED,*Missing*,PERSIAN GULF WAR,WHITE,NOT HISPANIC OR LATINO,-1,NaN
1,4606078,"RAWLINS,CHRISTOPHER JOHN",531,RAWLINS,CHRISTOPHER JOHN,NaN,N,Y,SC VETERAN,1004833593,...,N,M,PROTESTANT,MARRIED,*Missing*,PERSIAN GULF WAR,WHITE,NOT HISPANIC OR LATINO,-1,NaN
2,802109735,"BEARD,JOHN HOWARD",692,BEARD,JOHN HOWARD,NaN,N,Y,NSC VETERAN,1017704493,...,N,M,UNKNOWN/NO PREFERENCE,NEVER MARRIED,MT COPAY EXEMPT,POST-VIETNAM,WHITE,NOT HISPANIC OR LATINO,-1,NaN
3,801054020,"BEARD,JOHN HOWARD",593,BEARD,JOHN HOWARD,NaN,N,Y,NSC VETERAN,1017704493,...,N,M,UNKNOWN/NO PREFERENCE,NEVER MARRIED,MT COPAY EXEMPT,POST-VIETNAM,WHITE,NOT HISPANIC OR LATINO,-1,NaN
4,16602775,"WHITSETT,JAMES ROBERT",640,WHITSETT,JAMES ROBERT,NaN,N,Y,SC VETERAN,1006385873,...,N,M,ROMAN CATHOLIC CHURCH,DIVORCED,NO LONGER REQUIRED,PERSIAN GULF WAR,UNKNOWN BY PATIENT,UNKNOWN BY PATIENT,-1,NaN

(280252, 22)

['PatientSID',
 'PatientName',
 'Sta3n',
 'PatientLastName',
 'PatientFirstName',
 'TestPatientFlag',
 'CDWPossibleTestPatientFlag',
 'VeteranFlag',
 'PatientType',
 'PatientICN',
 'BirthDateTime',
 'ProcDate',
 'DeceasedFlag',
 'Gender',
 'Religion',
 'MaritalStatus',
 'MeansTestStatus',
 'PeriodOfService',
 'Race',
 'Ethnicity',
 'FederalAgencySID',
 'FilipinoVeteranCode']

In [10]:
fn = os.path.join(csv_dir,'20240722_DemographicsData.csv')
df = pd.read_csv(fn,delimiter=',',names=columns)

df = df.loc[df['Sta3n']==648]

display(df.head())
display(df.shape)

,PatientSID,PatientName,Sta3n,PatientLastName,PatientFirstName,TestPatientFlag,CDWPossibleTestPatientFlag,VeteranFlag,PatientType,PatientICN,...,DeceasedFlag,Gender,Religion,MaritalStatus,MeansTestStatus,PeriodOfService,Race,Ethnicity,FederalAgencySID,FilipinoVeteranCode
971,1604036966,"PORTER,DENNIS LEROY",648,PORTER,DENNIS LEROY,NaN,N,Y,SC VETERAN,1014618170,...,N,M,"PROTESTANT, NO DENOMINATION",MARRIED,*Missing*,VIETNAM ERA,WHITE,NOT HISPANIC OR LATINO,-1,NaN
972,1604320344,"HAMM,ROBIN HARRIET",648,HAMM,ROBIN HARRIET,NaN,N,Y,SC VETERAN,1012887815,...,N,F,ASKED BUT DECLINED TO ANSWER,WIDOWED,*Missing*,VIETNAM ERA,WHITE,NOT HISPANIC OR LATINO,-1,NaN
973,1604320344,"HAMM,ROBIN HARRIET",648,HAMM,ROBIN HARRIET,NaN,N,Y,SC VETERAN,1012887815,...,N,F,ASKED BUT DECLINED TO ANSWER,WIDOWED,*Missing*,VIETNAM ERA,WHITE,NOT HISPANIC OR LATINO,-1,NaN
974,1604320344,"HAMM,ROBIN HARRIET",648,HAMM,ROBIN HARRIET,NaN,N,Y,SC VETERAN,1012887815,...,N,F,ASKED BUT DECLINED TO ANSWER,WIDOWED,*Missing*,VIETNAM ERA,WHITE,NOT HISPANIC OR LATINO,-1,NaN
975,1604320344,"HAMM,ROBIN HARRIET",648,HAMM,ROBIN HARRIET,NaN,N,Y,SC VETERAN,1012887815,...,N,F,ASKED BUT DECLINED TO ANSWER,WIDOWED,*Missing*,VIETNAM ERA,WHITE,NOT HISPANIC OR LATINO,-1,NaN

(40678, 22)

In [4]:
# Can link to demographics by using ICN

fn = os.path.join(csv_dir,'20240722_ComorbiditiesTable (1).csv')
df = pd.read_csv(fn,delimiter=',')
display(df.head())
display(df.shape)

,1006207679,76,M,63,2,820304,800000524574,2011-09-01 13:31:00,UNION1,0,...,0.7,0.8,NULL,NULL.1,NULL.2,441.4,401.9,NULL.3,250.00,NULL.4
0,1006370156,75,M,71,3,834772,800037027630,2018-09-06 18:49:00,UNION1,0,...,0,0,NaN,NaN,I48.91,I25.2,401.9,NaN,NaN,NaN
1,1016514381,76,M,65,2,800185459,800000805155,2013-01-18 09:38:00,UNION1,0,...,0,0,NaN,NaN,NaN,I78.1,401.9,NaN,NaN,NaN
2,1006167973,84,M,78,2,775208,800000212159,2014-03-21 07:02:00,UNION3,0,...,0,0,435.9,G45.9,427.32,414.9,401.9,NaN,250.00,Z86.73
3,1016685468,74,M,67,2,800238483,800035225786,2017-12-11 10:19:00,UNION1,0,...,0,0,NaN,NaN,NaN,NaN,401.9,NaN,NaN,NaN
4,1006174380,71,M,68,4,759948,800000078856,2016-05-26 13:23:00,UNION1,0,...,0,0,NaN,NaN,NaN,414.01,401.9,NaN,E11.65,NaN

(85415, 28)

In [5]:
# file Rehan created when creating SiteAcessionNumber
# Some at working, some are not :: DO NOT USE

fn = os.path.join(csv_dir,'VISN+20_AccessionNumber_Test.csv')
df = pd.read_csv(fn)
display(df.head())
display(df.shape)

,PatientICN,SiteAccessionNumber,ProcDate,VisitSID,CPTCode,CPTDescription,CPTSID,Sta3n
0,1000755475,648-032120-2123,3/21/2020 1:34,800722631809,71275,"COMPUTED TOMOGRAPHIC ANGIOGRAPHY, CHEST (NONCO...",800366422,648
1,1018213122,648-080917-1528,8/9/2017 11:34,800565533633,71275,"COMPUTED TOMOGRAPHIC ANGIOGRAPHY, CHEST (NONCO...",800366422,648
2,1034407985,648-121121-3114,12/11/2021 21:30,1600372557955,71275,"COMPUTED TOMOGRAPHIC ANGIOGRAPHY, CHEST (NONCO...",800366422,648
3,1004829667,648-030721-16,3/7/2021 7:48,1600140701831,71275,"COMPUTED TOMOGRAPHIC ANGIOGRAPHY, CHEST (NONCO...",800366422,648
4,1031878263,648-012123-2246,1/21/2023 11:34,1600693908814,71275,"COMPUTED TOMOGRAPHIC ANGIOGRAPHY, CHEST (NONCO...",800366422,648

(77986, 8)